[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Saaketh
	email = saakethp@udel.edu
[http]
	postBuffer = 157286400
[credential]
	helper = "!f() { /root/.vscode-server/bin/072586267e68ece9a47aa43f8c108e0dcbf44622/node /tmp/vscode-remote-containers-ecfa579f-5426-4fcf-b277-eebb56b07559.js git-credential-helper $*; }; f"
