[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Saaketh
	email = saakethp@udel.edu
[http]
	postBuffer = 157286400
[credential]
	helper = "!f() { /root/.vscode-server/bin/072586267e68ece9a47aa43f8c108e0dcbf44622/node /tmp/vscode-remote-containers-4744a07e-5207-43a5-b995-ada88b31e3aa.js git-credential-helper $*; }; f"
